03-AI Auto Response.json
{
  "name": "03-AI Auto Response",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b9ccb907-b53a-45ae-87ae-9e1952db4583",
      "name": "Start Auto Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM leads\nWHERE qualification_status = 'completed'\n  AND (response_status IS NULL OR response_status = 'pending')\n  AND ai_response_draft IS NULL\nORDER BY id ASC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "6fcb3fce-4b1d-47e2-ae5d-705d588323b4",
      "name": "Get Qualified Lead",
      "credentials": {
        "postgres": {
          "id": "9zykMavBoY3grlBX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "badae0b3-d330-4046-bcb5-7e0387cb155c",
              "name": "lead_id",
              "value": "={{$json.id}}",
              "type": "string"
            },
            {
              "id": "ff7bd6fd-ddc2-40e2-9c29-337144a970ad",
              "name": "response_input",
              "value": "={{ `\nLead ID: ${$json.id}\nFull Name: ${$json.full_name}\nBusiness Type: ${$json.business_type}\nLead Temperature: ${$json.lead_temperature}\nIntent Summary: ${$json.intent_summary}\nRecommended Action: ${$json.recommended_action}\nOriginal Message: ${$json.message}\n` }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "03975225-af4a-4892-9779-f1aeaf60665e",
      "name": "Prepare Response Input"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an AI sales manager assistant.\n\nWrite a short, professional, friendly first response to the lead.\n\nRules:\n- Keep the message natural and human\n- Keep it concise\n- Match the business type\n- If business_type is real_estate, sound like a real estate advisor\n- If business_type is financial_planning_insurance, sound like a financial advisor\n- Mention the lead's intent naturally\n- End with a clear next step or question\n- Return ONLY valid JSON\n\nReturn JSON in this exact format:\n{\n  \"response_message\": \"\"\n}\n\nLead Data:\n{{$json.response_input}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        624,
        0
      ],
      "id": "107a62eb-2b8f-4235-8689-4f28057fc750",
      "name": "Generate AI Response",
      "credentials": {
        "openAiApi": {
          "id": "FPi2oSiI2H03GMyI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output[0].content[0].text;\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  throw new Error(\"AI response draft is not valid JSON: \" + raw);\n}\n\nreturn [\n  {\n    json: {\n      lead_id: $('Get Qualified Lead').first().json.id,\n      response_message: parsed.response_message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "ea548da8-496b-4144-b9da-c41d41636754",
      "name": "Parse Response Draft"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_valid": true,
            "response_generated_at": "={{$now}}",
            "ai_response_draft": "={{ $json.response_message }}",
            "id": "={{$json.lead_id}}",
            "updated_at": "={{$now}}",
            "response_status": "drafted",
            "created_at": "={{$now}}",
            "lead_score": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_type",
              "displayName": "business_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualification_status",
              "displayName": "qualification_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_agent",
              "displayName": "assigned_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "validation_reason",
              "displayName": "validation_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_valid",
              "displayName": "is_valid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_score",
              "displayName": "lead_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_temperature",
              "displayName": "lead_temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent_summary",
              "displayName": "intent_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommended_action",
              "displayName": "recommended_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualified_at",
              "displayName": "qualified_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_response_draft",
              "displayName": "ai_response_draft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response_status",
              "displayName": "response_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response_generated_at",
              "displayName": "response_generated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        0
      ],
      "id": "cdb94a35-2899-409b-90f1-9a139c83ef8e",
      "name": "Save Response Draft",
      "credentials": {
        "postgres": {
          "id": "9zykMavBoY3grlBX",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start Auto Response": {
      "main": [
        [
          {
            "node": "Get Qualified Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Qualified Lead": {
      "main": [
        [
          {
            "node": "Prepare Response Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response Input": {
      "main": [
        [
          {
            "node": "Generate AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Response": {
      "main": [
        [
          {
            "node": "Parse Response Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response Draft": {
      "main": [
        [
          {
            "node": "Save Response Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2d4bf955-e11a-4429-adfa-bc70171d6868",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de3434bb07fcf875f87bc3913830fc9b9e1289216c0b878ad80fef5c3b978291"
  },
  "id": "AgQ4mTzn8m4TUvMh",
  "tags": []
}